<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a web developer living in San Diego, CA</p>
		<p>I love nothing more than spending a rainy saturday learning and implementing a new technology in creative &amp; novel ways (the MEAN stack is my newest conquest)</p>
		<p>When I'm not at my computer, you can find me at the dog park, getting some reps in at the gym, playing around with Bitcoin Core or the LN protocol, or dreaming of being in a snowcovered log cabin in some desolate Maine backcountry</p>
		<p>Please don't hesitate to reach out to me for any reason!</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Thoughts</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><%= link_to post.title , post %></h3>
			<p class="date"><%=post.created_at.strftime("%A, %b, %d")%></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Work</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><%= link_to project.title , project %></h3>
			<p class="date"><%=project.created_at.strftime("%A, %b, %d")%></p>
		<% end %>
	</div>
</div>
